﻿@model CLSTA.Models.Listing

@{
    ViewData["Title"] = "Enquire";
}

<div>
    <h2>Enquire</h2>
    <hr />
    <h4></h4>

    <form asp-action="Enquire" method="post">
        <input type="hidden" name="listingId" value="@Model.Id" />

        <div class="form-group">
            <label class="control-label">Enquire</label>
            <textarea name="note" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <input type="submit" />
        </div>
    </form>

</div>