﻿@model CLSTA.Models.SearchViewModel

@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Home">
    <div class="container search-container">
        <h2>Filters</h2>
        <hr />
        
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Area" class="control-label"></label>
                    <input asp-for="Area" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="MinPrice" class="control-label"></label>
                    <input asp-for="MinPrice" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="MaxPrice" class="control-label"></label>
                    <input asp-for="MaxPrice" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="MinBedrooms" class="control-label"></label>
                    <input asp-for="MinBedrooms" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="MaxBedrooms" class="control-label"></label>
                    <input asp-for="MaxBedrooms" class="form-control" />
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="MinBathrooms" class="control-label"></label>
                    <input asp-for="MinBathrooms" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="MaxBathrooms" class="control-label"></label>
                    <input asp-for="MaxBathrooms" class="form-control" />
                </div>

                <div class="row">
                    @foreach (Feature feature in Enum.GetValues(typeof(Feature))) {
                        <div class="col-sm-6">
                            <label class="control-label">@feature</label>
                            <input type="checkbox" name="selectedFeatures" class="form-control" @((feature & Model.Features) == feature ? "selected" : "") />
                        </div>
                    }
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    @for (int i = 0; i < Model.Listings.Count; i++) {
        <div class="col-md-4 col-sm-6 text-center">
            <a asp-action="Listing" asp-route-id="@Model.Listings[i].Id" style="margin: 1em; display: block;">
                <img src="@Model.Images[i]" class="img-fluid" style="margin: auto;" />
                <h4>£@Model.Listings[i].PcmPrice pcm</h4>
                <p class="small">@Model.Listings[i].Address</p>
                <p class="small">Bedrooms: @Model.Listings[i].BedroomCount, Bathrooms: @Model.Listings[i].BathroomCount</p>
                <p>@Model.Listings[i].ShortDescription</p>
            </a>
        </div>
    }
</div>