﻿@model CLSTA.Models.Listing

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>

<div>
    <h2>Listing</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LongDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LongDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BedroomCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BedroomCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BathroomCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BathroomCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateAvailable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PcmPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PcmPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Visible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visible)
        </dd>
    </dl>

    <h4>Address</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressCounty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressCounty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressCountry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressCountry)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Postcode)
        </dd>
    </dl>

    <h4>Features</h4>
    <ul>
        @foreach (Feature feature in Enum.GetValues(typeof(Feature))) {
            if ((Model.Features & feature) == feature) {
                <li class="col-sm-12">
                    @feature
                </li>
            }
        }
    </ul>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
