﻿@model CLSTA.Models.Listing

@{
    ViewData["Title"] = "Details";
    List<string> userNames = (List<string>)ViewBag.UserNames;
}

<h1>Details</h1>

<div>
    <h2>Listing</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LongDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LongDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BedroomCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BedroomCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BathroomCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BathroomCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateAvailable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PcmPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PcmPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Visible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visible)
        </dd>
    </dl>

    <h4>Address</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressCounty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressCounty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressCountry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressCountry)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Postcode)
        </dd>
    </dl>

    <h4>Features</h4>
    <ul>
        @foreach (Feature feature in Enum.GetValues(typeof(Feature))) {
            if ((Model.Features & feature) == feature) {
                <li class="col-sm-12">
                    @feature
                </li>
            }
        }
    </ul>

    <h4>Images</h4>
    @if (Model.Images != null) {
        @foreach (Image image in Model.Images) {
            <div class="col-sm-3">
                <img src="~/Images/@image.Url" class="img-fluid" />
            </div>
        }
    }

    <h4>Enquiries</h4>
    @if (Model.NotesOfInterest != null) {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Notes/Comments</th>
                </tr>
            </thead>
            @for (int i = 0; i < Model.NotesOfInterest.Count; i++) {
                <tr>
                    <td>
                        @userNames[i]
                    </td>
                    <td>
                        @Model.NotesOfInterest[i].Notes
                    </td>
                </tr>
            }
        </table>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
