﻿@model CLSTA.Models.Listing

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h2>Listing</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <textarea asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LongDescription" class="control-label"></label>
                <textarea asp-for="LongDescription" class="form-control" />
                <span asp-validation-for="LongDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BedroomCount" class="control-label"></label>
                <input asp-for="BedroomCount" class="form-control" />
                <span asp-validation-for="BedroomCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BathroomCount" class="control-label"></label>
                <input asp-for="BathroomCount" class="form-control" />
                <span asp-validation-for="BathroomCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateAvailable" class="control-label"></label>
                <input asp-for="DateAvailable" class="form-control" />
                <span asp-validation-for="DateAvailable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PcmPrice" class="control-label"></label>
                <input asp-for="PcmPrice" class="form-control" />
                <span asp-validation-for="PcmPrice" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Visible" /> @Html.DisplayNameFor(model => model.Visible)
                </label>
            </div>

            <h4>Address</h4>
            <div class="form-group">
                <label asp-for="AddressLine1" class="control-label"></label>
                <input asp-for="AddressLine1" class="form-control" />
                <span asp-validation-for="AddressLine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressLine2" class="control-label"></label>
                <input asp-for="AddressLine2" class="form-control" />
                <span asp-validation-for="AddressLine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressCity" class="control-label"></label>
                <input asp-for="AddressCity" class="form-control" />
                <span asp-validation-for="AddressCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressCounty" class="control-label"></label>
                <input asp-for="AddressCounty" class="form-control" />
                <span asp-validation-for="AddressCounty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressCountry" class="control-label"></label>
                <input asp-for="AddressCountry" class="form-control" />
                <span asp-validation-for="AddressCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postcode" class="control-label"></label>
                <input asp-for="Postcode" class="form-control" />
                <span asp-validation-for="Postcode" class="text-danger"></span>
            </div>

            <h4>Features</h4>
            @foreach (Feature feature in Enum.GetValues(typeof(Feature))) {
                <div class="form-group">
                    <label class="control-label">@feature</label>
                    <input type="checkbox" name="selectedFeatures" value="@((int)feature)" class="form-control" @((Model.Features & feature) == feature ? "selected" : "") />
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
