﻿@model int

@{
    ViewData["Title"] = "Upload Images";
}

<h1>Upload Images</h1>

<div>
    <h2>Listing</h2>
    <hr />

    <form asp-action="UploadImage" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="@Model" />

        <dl>
            <dt>
                <label>Files</label>
            </dt>
            <dd>
                <input name="files" type="file" multiple="multiple" />
            </dd>
        </dl>
        <input asp-page-handler="Upload" class="btn btn-primary" type="submit" value="Upload">
    </form>

</div>